:root{
    --verde: #099d8d;
    --aqua:#14d9c4;
    --gris: #54585a;
    --gris-claro: #b8b8b9;
    --parrafo: open-sans, sans-serif;
    --titulo: rubik medium, sans-serif;
}
.banner{
    position: relative;
}
.banner-img{
    width: 100vw;
}
.banner-span{
    display: inline-block;
    background-color: white;
    font-family: var(--parrafo);
    font-weight: 600;
    padding: 5%;
    width: 70%;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    z-index: 100;*/
}
.equipo{
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipo h2{
    color:var(--aqua);
    font-family: var(--titulo);
}
.equipo p{
    padding-top: 20px;
    color:var(--gris);
    font-family: var(--parrafo);
    text-align: center;
}
.fort-deb{
    background-color: var(--gris-claro);
    opacity: 0.2;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fortalezas, .debilidades{
    margin-left: 15%;
    margin-right: 15%;
}

.quienes-somos {
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
 
}

.quienes-somos h2 {
    width: 100%;
    padding: 20px;
    color:var(--aqua);
    font-family: var(--titulo);
    text-align: center;
}

.member {
    display: inline-block;
    flex-wrap: wrap;
    border: solid 1px red;
    

   
}

.imagen{

    padding: 20px;
    text-align: center;
}

img {
  width: 100px;
  border: solid 1px black
}

.container-text {

    font-family: var(--parrafo);
    text-align: center;
    color:var(--gris);
}
.text-member {
    padding: 10px;
    text-align: center;
}


.footer{
    width: 100%;
    border: solid 1px #b8b8b9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.nombre-grupo{
    color: var(--gris-claro);
    font-family: var(--parrafo);
    font-size: 14px;
    text-align: center;
}
.menu-footer{
    color: var(--gris); 
    font-size: 14px;
    list-style: none;
    text-align: center;
}
.imagen-logo {
    width: 100%;
    max-width: 110px;
    

}

/* header */

header{
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;    
}

h1{
    color: white;
    width: 100%;
    background-color: rgba(9, 157, 141, 0.95);
    font-size: 16px;
    text-align: center;
    padding: 15px;
    font-family: var(--titulo);
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    background-color: rgba(20, 217, 196, 0.9);
    gap: 10px;
    width: 100%;
    font-family: var(--titulo);
}

.navegacion li{
    list-style: none;
    font-size: 15px;
}

.navegacion a{
    text-decoration: none;
    color: white;
}
