:root{
    --verde: #099d8d;
    --aqua:#14d9c4;
    --gris: #54585a;
    --gris-claro: #b8b8b9;
    --parrafo: open-sans, sans-serif;
    --titulo: rubik medium, sans-serif;
}

.quienes {

    border: solid 1px black;
}
.member {
    display: block;
    border: solid 1px red;
   
}
.footer{
    width: 100%;
    border: solid 1px #b8b8b9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.nombre-grupo{
    color: var(--gris-claro);
    font-family: var(--parrafo);
    font-size: 14px;
    text-align: center;
}
.menu-footer{
    color: var(--gris); 
    font-size: 14px;
    list-style: none;
    text-align: center;
}
.logo{
    height: 45px;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translate(-50%, -50%);
    
}