.form {
    padding: 15px;
    margin-top: 28px;
    margin-bottom: 45px;
    line-height: 2;
    
    gap: 7px;
    font-family: var(--parrafo);
    font-size: 14px;
    }

    input {
        width: 100%;
        min-height: 45px;
        padding: 15px;
        
    }
    

    label {
        margin-top: 8px;
        span {
            color: var(--aqua);
        }
    }

    textarea {
        width: 100%;
        min-height: 105px;
        padding: 15px;
        padding-top: 11px;
        margin-bottom: 23px;
        border: 2px solid var(--gris-claro);
        &:focus {
            background-color: #F0EFF0;
        }
    }

.field {
    border: 2px solid var(--gris-claro);
    &:focus {
        background-color: #F0EFF0;
    }
}
.submit {
    
    background-color: var(--verde);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    
    
 
}
@media screen and (min-width: 768px){
    .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 175px;
    margin-right: 175px;
    
    }
    .submit{
    width: 20vw;
    display: block;
    align-items: flex-start;
    align-self: flex-end;
    text-align: center;
    
    
    }

   
    .tag{
        width: 50vw;
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-width: 1200px){

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 350px;
        margin-right: 350px;
    }
   /* .submit{
        display: block;
        align-items: flex-start;
        align-self: flex-end;
        text-align: center;
    } */

    .mailphone{
        display: flex;
        flex-direction: row;
        gap: 45px;
        width: 50vw;   
    }
    .mail{
        min-width: 80vw;  
        
    }
    .mobile{
        min-width: 5vw;
       
    }

    .tag-mail {
        width: 100%;
    }

    .tag-mobile {
        width: 35%;
    }
  
}