header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;   
    @media (min-width: 768px){
        display: flex;
        justify-content: space-between;
        background-color: rgba(9, 157, 141, 0.95);
    } 
}

h1{
    color: white;
    width: 100%;
    background-color: rgba(9, 157, 141, 0.95);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    padding: 15px;
    font-weight: 500;
    font-family: var(--titulo);
    @media (min-width: 768px){
        background-color: transparent;
        text-align: left;
        margin-left: 45px;
    }
    @media (min-width: 1200px){
        margin-left: 142px;
    }
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgba(20, 217, 196, 0.9);
    font-weight: 500;
    gap: 10px;
    width: 100%;
    font-family: var(--titulo);
    @media (min-width: 768px){
      background-color: transparent;
      justify-content: flex-end;
      width: 100%;
      padding: 15px;
      gap: 20px;
      
    } 
}

.navegacion li{
    list-style: none;
    font-size: 15px;
}

.navegacion a{
    text-decoration: none;
    color: white;
}

nav {
    @media (min-width: 768px){
        width: 100%;
        margin-right: 45px;
    }
    @media (min-width: 1200px){
        margin-right: 138px;
    }
}
