<section class="banner"> 
    <div class="banner-fondo"></div><!--Foto y primera seccion--> <!--Pilar hasta debilidades-->

</section> 
<section class="contacto">
    <h2 class="contacto__title">CONTACTO</h2>
    <!-- el párrafo puede ir también todo junto, lo he separado por ahora solo por claridad-->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in.</p>
    <p>Todos los campos marcados con * son obligatorios.</p>
</section>