<section class="banner"> 
    <div class="banner-fondo"></div>

</section> 
<section class="contacto">
    <h2 class="contacto__title">CONTACTO</h2>
    <!-- el párrafo puede ir también todo junto, lo he separado por ahora solo por claridad-->
    <p class="contacto__parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in.</p>
    <p class="contacto__obligatorio">Todos los campos marcados con <span>*</span> son obligatorios.</p>
</section>