<footer class="footer"> <!--Raquel-->
    <section class="footer__section">
        <p class="footer__section--copy"> Nombre del grupo © 2024</p>
    </section>
    <nav>
        <ul class="footer__menu">
            <li><a href="#equipo">EQUIPO</a></li>
            <li><a href="#quienes-somos">QUIÉNES SOMOS</a></li>
            <li><a href="#contacto">CONTACTO</a></li>
        </ul>
    </nav>
    <section >
        <img src="/images/logo-adalab.png" alt="Logo Adalab" class="footer__logo">
    </section>
</footer>