<section class="fort-deb">
    <div class="rombo-blanco"></div>
    <div class="fort-deb_fondo">
    <article class="fortalezas">
        <h3 class="fort-deb_titulo">Fortalezas</h3>
        <p class="fort-deb_parrafo">Nuestras principales fortalezas son la comunicación en el equipo, el apoyo entre nosotras para desarrollar con éxito una tarea y, la suma de nuestros diferentes backgrounds para aportar diferentes cualidades durante el proceso de producción del producto.</p>
    </article> <!--fortalezas-->
    <article class="debilidades">
        <h3 class="fort-deb_titulo">Debilidades</h3>
        <p class="fort-deb_parrafo">Nuestra debilidad más característa es que todavía somos perfiles junior en proceso de formación, pero con constancia y dedicación, conseguiremos mejorar para ser programadoras con mayores conocimientos.</p>
    </article> <!--debilidades-->
</div>
</section> 