<section class="fort-deb">
    <div class="rombo-blanco"></div>
    <div class="fort-deb_fondo">
    <article class="fortalezas">
        <h3 class="fort-deb_titulo">Fortalezas</h3>
        <p class="fort-deb_parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius.</p>
    </article> <!--fortalezas-->
    <article class="debilidades">
        <h3 class="fort-deb_titulo">Debilidades</h3>
        <p class="fort-deb_parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius. </p>
    </article> <!--debilidades-->
</div>
</section> 