<form action="https://dev.adalab.es/api/form" method="get">
    <fieldset class="form">
        <!-- los asteriscos no los he metido porque a lo mejor se puede hacer con la pseudoclase de :after pero ni idea -->
        <label for="fullName">Nombre completo <span>*</span></label>
        <input class="field" type="text" id="fullName" name="fullName" placeholder="Nombre..." required />

        <label for="emailAddress">Correo electrónico <span>*</span></label>
        <input class="field" type="email" id="emailAddress" name="emailAddress" value="nombre.apellido@mail.com" required/>

        <label for="mobileNumber">Teléfono</label>
        <input class="field" type="tel" id="mobileNumber" name="mobileNumber" placeholder="Ej. 123456789" />

        <label for="messages">Mensaje <span>*</span></label>
        <textarea id="messages" name="messages" placeholder="¿Qué necesitas?" required></textarea>

        <input class="submit" type="submit" value="ENVIAR" />
    </fieldset>
</form>