<section class="banner"> 
    <div class="banner-fondo"></div><!--Foto y primera seccion--> <!--Pilar hasta debilidades-->
    <span class="banner-span">No hay nada mejor que la confianza y el trabajo en equipo.</span>
</section> 
<section class="equipo"> <!--Equipo y parrafo-->
    <h2 id="equipo">EQUIPO</h2>
    <p>Bienvenid@s a la web de P.E.C programando en confianza. Somos Aida, Pilar, Raquel y Fátima. Aunque vengamos de diferentes ámbitos profesionales, teníamos las mismas inquietudes técnologicas y ganas de aprender sobre el mundo de la programación.</p>
    <p>Gracias a encontrarnos en Adalab, hemos tenido la suerte de poder trabajar juntas y aprender las unas de las otras, esperamos que os guste nuestro primer proyecto.</p>

</section> 