<section class="banner"> 
    <div class="banner-fondo"></div><!--Foto y primera seccion--> <!--Pilar hasta debilidades-->
    <span class="banner-span">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
</section> 
<section class="equipo"> <!--Equipo y parrafo-->
    <h2>EQUIPO</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus aliquam facere quos dignissimos! Harum placeat nam explicabo, natus enim quas omnis nihil ipsum libero, saepe, error id praesentium fuga?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error porro ut possimus quod nostrum! Eos, exercitationem eum inventore adipisci suscipit, atque impedit officiis, ducimus est esse provident. Nam, itaque aliquam.</p>

</section> 