<section class="quienes-somos">
    <h2 id="quienes-somos">QUIÉNES SOMOS</h2>
    <article class="member-1">
        <div class="imagen">
           <img class="member-img" src="./images/avataraida.png" alt="Foto de Aida">
        </div>
        <div class="container-text">
            <h4 class="member-name1">Aida Narros</h4>
            <p class="text-member1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros1">
                <li>   
                    <a class="enlace"  href="https://github.com/aidanarr" title="Ir al perfil de github de Aida"> <!-- Enlace a Git de Aida -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                        
                    </a>
                </li>
                <li>
                  
                    <a class="enlace" href="http://www.linkedin.com/in/aida-narros-30857713a" title="Ir al perfil de Linkedin de Aida"> <!-- Enlace a Linkedin de Aida -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        
                    </a>
                </li>
               
                <li>
                    <a class="enlace" href="mailto:aidanarfer@gmail.com" title="Enviar un email a Aida"> <!-- Enlace a Email de Aida -->
                        <div class="icono1">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                       
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-2">
        <div class="imagen">
            <img class="member-img"  src="./images/foto-fatima-ok.JPG" alt="Foto de Fatima">
        </div>
        <div class="container-text">
            <h4 class="member-name2">Fátima Duret</h4>
            <p class="text-member2">Anteriormente productora de televisión, siempre me he desarrollado profesionalmente como un perfil técnico. Mi interés en el mundo técnologico me ha llevado a formarme en el mundo de la programación, con la intención de poder aportar en este nuevo sector para mí, todo lo aprendido en mi antigua trayectoria profesional, como la organización, la resolución de problemas y el trabajo en equipo.</p>
            <ul class="listado-miembros2">
                <li>
                    
                    <a class="enlace" href="https://github.com/FatimaDuret" title="Ir al perfil de github de Fátima"> <!-- Enlace a Git de Fatima -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                        
                    </a>
                </li>
                <li>
                   
                    <a class="enlace" href="https://www.linkedin.com/in/f%C3%A1tima-duret-guti%C3%A9rrez-1b9173131/" title="Ir al perfil de Linkedin de Fátima"> <!--  Enlace a Linkedin de Fatima -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a class="enlace" href="mailto:f.duret.g@gmail.com" title="Enviar un email a Fátima"> <!-- Enlace a Email de Fatima -->
                       <div class="icono1">
                        <i class="fa-solid fa-envelope"></i>
                       </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-1">
        <div class="imagen">
        <img class="member-img"  src="./images/pilar_foto.jpg" alt="Foto de Pilar">
        </div>
        <div class="container-text">
            <h4 class="member-name1">Pilar Rey</h4>
            <p class="text-member1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros1">
                <li>
                    
                    <a class="enlace" href="https://github.com/Pi-Rey" title="Ir al perfil de github de Pilar"> <!-- Enlace a Git de Pilar -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                    </a>
                </li>
                <li>
                    
                    <a class="enlace" href="https://www.linkedin.com/in/pilar-rey-rodriguez/" title="Ir al perfil de Linkedin de Pilar" > <!-- Enlace a Linkedin de Pilar -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </li>
               
                <li>
                    <a  class="enlace" href="mailto:pilar.rrdgz@gmail.com" title="Enviar un email a Pilar"> <!-- Enlace a Email de Pilar -->
                      <div class="icono1">
                        <i class="fa-solid fa-envelope"></i>
                      </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-2">
        <div class="imagen">
        <img class="member-img"  src="./images/Foto-Raquel.jpg" alt="Foto de Raquel">
        </div>
        <div class="container-text">
            <h4 class="member-name2">Raquel Castro</h4>
            <p class="text-member2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros2">
                <li>
                    <a class="enlace" href="https://github.com/Raquelcb24" title="Ir al perfil de github de Raquel"> <!--  Enlace a Git de Raquel -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                    </a>
                    
                </li>
                <li>
                    <a class="enlace" href="http://www.linkedin.com/in/raquel-castro-bermudo-473a9412a" title="Ir al perfil de Linkedin de Raquel"> <!-- Enlace a Linkedin de Raquel -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                        
                </li>
                
                <li>
                    <a class="enlace" href="mailto:raquelcastrobermudo@gmail.com" title="Enviar un email a Raquel">  <!-- Enlace a Email de Raquel -->
                       <div class="icono1">
                        <i class="fa-solid fa-envelope"></i>
                       </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
</section> <!--quienes somos--> <!--fatima-->