<section class="quienes-somos">
    <h2>QUIÉNES SOMOS</h2>
    <article class="member-1">
        <div class="imagen">
           <img class="member-img" src="./images/avataraida.png" alt="Foto de Aida">
        </div>
        <div class="container-text">
            <h4 class="member-name">Aida Narros</h4>
            <p class="text-member">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros">
                <li>   
                    <a href="#" > <!-- Enlace a Git de Aida -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                        
                    </a>
                </li>
                <li>
                  
                    <a href="#" > <!-- Enlace a Linkedin de Aida -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        
                    </a>
                </li>
               
                <li>
                    <a href="#" > <!-- Enlace a Email de Aida -->
                        <div class="icono">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                       
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-2">
        <div class="imagen">
            <img class="member-img"  src="images/fatima.JPG" alt="Foto de Fatima">
        </div>
        <div class="container-text">
            <h4 class="member-name">Fátima Duret</h4>
            <p class="text-member">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros">
                <li>
                    
                    <a href="#" > <!-- Enlace a Git de Fatima -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                        
                    </a>
                </li>
                <li>
                   
                    <a href="#" > <!--  Enlace a Linkedin de Fatima -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="#" > <!-- Enlace a Email de Fatima -->
                       <div class="icono">
                        <i class="fa-solid fa-envelope"></i>
                       </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-1">
        <div class="imagen">
        <img class="member-img"  src="./images/pilar_foto.jpg" alt="Foto de Pilar">
        </div>
        <div class="container-text">
            <h4 class="member-name">Pilar Rey</h4>
            <p class="text-member">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros">
                <li>
                    
                    <a href="#" > <!-- Enlace a Git de Pilar -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                    </a>
                </li>
                <li>
                    
                    <a href="#" > <!-- Enlace a Linkedin de Pilar -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </li>
               
                <li>
                    <a href="#"> <!-- Enlace a Email de Pilar -->
                      <div class="icono">
                        <i class="fa-solid fa-envelope"></i>
                      </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="member-2">
        <div class="imagen">
        <img class="member-img"  src="./images/Foto-Raquel.jpg" alt="Foto de Raquel">
        </div>
        <div class="container-text">
            <h4 class="member-name">Raquel Castro</h4>
            <p class="text-member">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis dolorem aliquam adipisci molestias error quis quam impedit maxime? Aliquid id exercitationem perspiciatis dolores iste ea temporibus molestiae. Ullam, minima.</p>
            <ul class="listado-miembros">
                <li>
                    <a href="#" > <!--  Enlace a Git de Raquel -->
                        <div class="icono">
                            <i class="fa-brands fa-github-alt"></i>
                        </div>
                    </a>
                    
                </li>
                <li>
                    <a href="#"> <!-- Enlace a Linkedin de Raquel -->
                        <div class="icono">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                        
                </li>
                
                <li>
                    <a href="#">  <!-- Enlace a Email de Raquel -->
                       <div class="icono">
                        <i class="fa-solid fa-envelope"></i>
                       </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
</section> <!--quienes somos--> <!--fatima-->