/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';

@import 'core/variables';

@import  'layout/header';

@import 'layout/banner';

@import 'layout/equipo';

@import 'layout/fortdeb';

@import 'layout/quienes';

@import 'layout/footer';

@import 'layout/contact';

@import 'layout/form';





@media screen and (min-width: 768px){
    
    
    .member-1{
        display: flex;
        flex-direction: row;
    }

    .member-2{
        display: flex;
        flex-direction: row-reverse;
    }

    .container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .text-member1 {
        text-align: left;
        padding-right: 70px;

    }

    .text-member2 {
        text-align: right;
        padding-left: 70px;

    }
    .member-name1 {
        text-align: left;
        padding-left: 10px;
    }
    .member-name2 {
        text-align: right;
        padding-right: 10px;
    }

    .listado-miembros1 {
        display: flex;
        justify-content: left;
        padding-left: 10px;
    }

    .listado-miembros2 {
        display: flex;
        justify-content: right;
        padding-right: 10px;
    }

    .banner-span{
        opacity: 0.75;
        padding: 2%;
        width: 45%;
        top:100%;
        left: 5%;
        transform: translate(0%, -100%);
    }
}
